@mixin sectionWrapper {
  display: flex;
  flex-direction: column;
}
@mixin titleSmall($color: $title) {
  font-size: 1.8rem;
  font-weight: 800;
  color: $color;
}
@mixin titleMain {
  @media (min-width: 768px) {
    font-size: 5rem;
    font-weight: 900;
    line-height: 0.8;
  }
  font-size: 4rem;
  font-weight: 800;
  color: $title;
  line-height: 0.9;
}
@mixin titleAlt {
  @media (min-width: 768px) {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
  }
  line-height: 1;
  font-size: 3rem;
  font-weight: 700;
  color: $titleAlt;
}
@mixin softShadow {
  box-shadow: 0px 0.6px 2.2px rgba(0, 0, 0, 0.015),
    0px 1.2px 5.3px rgba(0, 0, 0, 0.019), 0px 2.1px 10px rgba(0, 0, 0, 0.022),
    0px 4.5px 17.9px rgba(0, 0, 0, 0.027),
    0px 13.1px 33.4px rgba(0, 0, 0, 0.036), 0px 55px 80px rgba(0, 0, 0, 0.07);
}
@mixin smallPara($color: $titlePara) {
  @media (min-width: 768px) {
    margin-top: 0.5rem;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1;
  }
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color;
  margin-left: 0.25rem;
}

 .skills-section {
  min-height: 100vh;
  background: #ffffff;
  & > div {
    @include sectionWrapper();
   

      
     
    }
  }
}



.projects-section {
  min-height: 100vh;
  background: #ffffff;
  background: linear-gradient(180deg, rgb(255, 218, 234), rgb(137, 190, 244));

  & > div {
    @include sectionWrapper();
  }
}

.projects-content {
  display: flex;
  p {
    @include smallPara($titleAlt);
  }
  div {
    display: flex;
    flex-direction: column;

    h3 {
      @include titleSmall($titlePara);
      transition: color 125ms ease-in-out;
      &:hover {
        @include titleSmall($title);
        cursor: pointer;
      }
    }
  }
}

footer {
  background: black;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 5rem;
}
